.add-pet-form-container {
    width: 30%;
    margin-left: 30% ;
    padding: 4%;
    background-color: #192928; /* Dark green background */
    color: #CEDFB9; /* Light green text */
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  }
  
  .add-pet-form-header {
    color: #192928; /* Light green text */
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 37%;
  }
  
  .add-pet-form-container .ant-form-item-label > label {
    color: #CEDFB9; /* Light green text */
  }
  
  .add-pet-form-container .ant-form-item-control-input input,
  .add-pet-form-container .ant-form-item-control-input .ant-input-number,
  .add-pet-form-container .ant-select-selector {
    background-color: #192928; /* Dark green background */
    border-color: #CEDFB9; /* Light green border */
    color: #CEDFB9; /* Light green text */
  }
  
  .add-pet-form-container .ant-form-item-control-input input::placeholder,
  .add-pet-form-container .ant-form-item-control-input .ant-input-number::placeholder,
  .add-pet-form-container .ant-select-selector::placeholder {
    color: #CEDFB9; /* Light green placeholder text */
  }
  
  .add-pet-form-container .ant-form-item-control-input input:focus,
  .add-pet-form-container .ant-form-item-control-input .ant-input-number:focus,
  .add-pet-form-container .ant-select-selector:focus {
    border-color: #b2d8a3; /* Lighter green border for focus */
    box-shadow: none; /* Remove the default Ant Design focus shadow */
  }
  
  .add-pet-form-container .ant-btn-primary {
    background-color: #CEDFB9; /* Light green background */
   
    color: #192928; /* Dark green text */
    height: 15%;
    font-size: 18px;
    font-weight: 500;
    
    
  }
  
  .add-pet-form-container .Add_pet:hover {
    background-color: #275d3c !important; /* Slightly lighter green background on hover/focus */
    border-color: #b2d8a3; /* Slightly lighter green border on hover/focus */
  }
  
  .add-pet-form-container .Back_pet:hover {
    background-color: #a01a1a !important; /* Slightly lighter green background on hover/focus */
    border-color: #b2d8a3; /* Slightly lighter green border on hover/focus */
    color: white !important;
  }

  #back-btn{
    background-color: #FF5252; /* Light green background */
    
    color: #192928; /* Dark green text */
    /* height: 40px;
    font-size: 16px;
    font-weight: 500; */
    margin-left: 5%;
  }


  /* Custom style for Radio components */
.ant-radio-wrapper {
  color: #CEDFB9; /* Light Green text color */
}

/* You may also want to style the Radio button itself when checked */
.ant-radio-checked .ant-radio-inner {
  border-color: #CEDFB9; /* Light Green border color for checked state */
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #CEDFB9; /* Light Green background color for the dot inside the radio when checked */
}
