/* Twitter Card Styles */


.scrollable-adoption-card {
    background-color: #ffffff;
    border-radius: 10px;
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    margin-left: 2%;
}


.verified-icon{
    color: #378b1d;
}

.pet-breed-info{
    color: #333;
    font-size: 1.3em;
    font-weight: 400;

    margin-top: -8%;
}

.pet-age-info{
    color: #333;
    font-size: 1.3em;
    font-weight: 400;
}

.pet-addr{
    color: #333;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 5%;
}


.pet-action-button {
    background-color: #92cc4bce;
    color: #192928;
    border-radius: 4px;
}

/* Hover state of the button */
.pet-action-button:hover {
    color: #ffffff !important; /* Change text color */
    border-color: #CEDFB9 !important; /* Adjust border color */
    transform: scale(1.125); /* Increase the size slightly */
}
