.donation-detail-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  /* height: 100vh; */
  /* Full height of the viewport */
  background-color: #192928;
  /* Dark green background */

}

.details-images{
  padding-left: 15%;
}

.donation-detail-card {
  min-width: 40%;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  /* Adjust the width as needed */
  background-color: #192928;
  /* Dark green background */
  color: #CEDFB9;
  /* Light green text */
}

.card-header .verified {
  font-size: 1.25rem;
  /* Larger font size for bold text */
  color: #CEDFB9;
  /* Light green text */
}

/* Add custom styles for all the elements that need to be styled */
/* For example, for the list items: */
.detail-item {
  color: #CEDFB9 !important;
  /* Light green text */

}

.greenColor {
  color: #CEDFB9
}

/* If you are using a global class prefix, you may need to use `.ant-list-item` instead of `.detail-item` */


/* For the steps component inside the list: */
.ant-steps-item-title {
  /* Your styles for step titles */
  color: #CEDFB9;
  /* Light green text */
}


/* Ensure that the icon uses light green color */
.anticon-check-circle {
  color: #CEDFB9;
}

/* CSS file (DonationDetail.css) */
.ant-steps-item-title {
  color: #CEDFB9 !important;
  /* Light green text for the title */
}

.ant-steps-item-description {
  color: #879871 !important;
  /* Light green text for the description */
}

.go-back-btn {
  background-color: #e64141;
  /* Light green background color */
  color: #192928;
  /* Dark green text color */
  border: none;
  /* Removes the border */
  font-size: 16px;
  /* Adjust the font size as needed */
  padding: 6px 12px;
  /* Adjust the padding as needed for size */
  border-radius: 4px;
  /* Optional: if you want rounded corners */
  /* Add more styles as needed */
}


/* Hover state of the button */
.go-back-btn:hover {
  background-color: #b9160b;
  /* Keeps the background color the same */
  color: #192928 !important;
  /* Keeps the text color dark green and overrides default styles */
  border-color: #CEDFB9 !important;
  /* Optional: if you have a border and want to change its color on hover */
  /* Add more styles as needed */
}


.donate-btn {
  background-color: #ffc300;
  color: #192928;
  border-radius: 4px;
  border: none;
  font-size: large;
  font-weight: bold;
}

/* Hover state of the button */
.donate-btn:hover {
  color: #ffffff !important; /* Change text color */
  background-color: #92cc4bce ; /* Darker shade of green on hover */
  border-color: #CEDFB9 !important; /* Adjust border color */
  transform: scale(1.125); /* Increase the size slightly */
}