.donation-card {
    width: 50%;
    background-color: #192928;
    margin-top: 8%;
    margin-left: 8%;
    border-radius: 10px;
    height: 6%;
    
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}