.donationbody {
    display: grid;
    grid-template-columns: 75% 1fr;

}

.donation-card {
    width: 65%;
    background-color: #192928;
    margin-top: 4%;
    margin-left: 8%;
    border-radius: 10px;
    height: 10%;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

.donation_header {
    background-color: #192928;
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 10vh;
}

.AFD:hover {
    background-color: #192928  !important;
    color: #ffffff !important;
}

.MDA:hover{
    background-color: #192928  !important;
    color: #ffffff !important;
}