/* ... existing styles ... */

/* Donation Application Header Color */
.donation-header {
    color: #192928; /* Dark green color for the header text */
    margin-left: 8%;
  }
  
  /* Form Label Color */
  .ant-form-item-label > label {
    color: #CEDFB9 !important; /* Using !important to override any other styles */
    font-weight: 700;
    font-size:larger;
  }
  
  /* Input Text Color */
  .ant-input,
  .ant-input-affix-wrapper {
    color: #080808; /* Light green color for input text */
  }
  