/* In Forum.css */
.forum-title {
    font-size: 200%; /* Or any size you prefer */
    font-family: "Baloo Da";
}



.content-grid {
    height: 90vh; /* Adjust the 50px to your header's actual height */
}

  
.section1 {
    display: flex;
    flex: 1;
}
  
.section2 {
    flex: 1;
}
  


/* For Section 2 Elements */

.select-container{
    margin-left: 7%;
    margin-right: 7%;
}



.section3 .post-update-card {
    background-color: #192928; /* Dark blue background */
    border-radius: 20px; /* Rounded corners */
    margin-top: 0.5%;
}

.section3{
    overflow: auto;
    height: 90vh;
}

.forum-card-info {
    display: flex;
    align-items: center;
    gap: 2%;
}


.forum-card-details {
    flex-grow: 1; /* Ensures the container of the input takes up all available horizontal space */
}
.user-avatar {
    border: 2px solid #CEDFB9;
    width: 5% !important;
    height: 3% !important;
    border-radius: 30%;
    
}

.post-input {
    font-size: 20px; /* Optional: Adjust the font size for better readability */
}


.left-side {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    height: 100%; /* Take full height of its parent */
}

.user-profile{
    height: 90% !important;
    width: 100%  !important;
    background-color: #94cc6e88;
}

.user-statistic span {
    /* Your CSS properties go here */
    color: #333; /* Example property: sets the text color */
    font-weight: bold; /* Example property: makes the text bold */
    font-size: large;
}

.user-stat{
    font-weight: bold;
    color: #333333de;
    font-size: large;
}


.user-content .user-statistic span,
.user-content .user-statistic .user-stat {
     display: block; /* Ensure they are block-level for consistent spacing */
}

/* Optionally, adjust the line-height for even tighter spacing */
.user-content .user-statistic span,
.user-content .user-statistic .user-stat {
    line-height: 0.5; /* Adjust line height for tighter text */
}

.profile-col{
    border: 2px solid #333;
   
    padding-top: 5%;
    padding-left: 3%;   
}


.nav-button{
    margin-left: 30%;
}

.profile_header{
    height: 10vh;
}

.view-my-profile-btn {
    background-color: #CEDFB9;
    /* Light Green background */
    color: #192928;
    /* Dark Green text */
    border: none;
    /* margin-left: auto; */
    /* Align the button to the right */
    font-family: "Baloo Da";
    font-size: 1.2em;
    /* Larger font size */
    border-radius: 8px;
    /* Rounded corners for the button */
    cursor: pointer;
 
    /* Adjust height to match the card content */
    /* Add some padding if needed */
    transition: background-color 0.3s;
    
}

.view-my-profile-btn:hover {
    background-color: #10514c !important;
    /* Slightly different color on hover */
    /* Other hover styles */
    /* Light Green background */
    color: #192928;
    /* Dark Green text */
}