#logincard {
    padding-left: 20%;
    padding-top: 5%;
    text-align: center;
    align-items: center;
    font: 15px sans-serif;
    background-color: #cedfb9;
    border-color: #cedfb9;
    width: 100%;
}

.loginheader {
    height: 45%;
    /* width: 100vw; */
    background-color: #192928;
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.container_login {
    display: grid;
    grid-template-columns: 40% 1fr;
    /* width: 100vw; */
    /* 33% for the first column, and the rest (1fr) for the second */
    /* height: 90vh; */
    /* This makes the container take the full height of the viewport. Adjust as needed. */
}

.image_col {
    padding-left: 20%;
    padding-top: 20%;
    /* background-color: #f8f8f8; */
    /* Just for visual differentiation, you can change or remove this */
    /* Add your styling for the first column here */
}



/* .logincard{
    width: 100%;
} */